@media screen and (min-width: 1920px) {
    .slider_movieList {
        @apply w-1/2
    }

    .login_container .form_content {
        @apply w-1/2
    }



}

@media screen and (min-device-width: 1281px) and (max-device-width: 1600px) {

    /* heaer  */
    .nav_container {
        @apply p-0
    }

    .nav_container .nav_left .nav_logo {
        @apply w-20
    }

    .nav_container .nav_left .nav_item {
        @apply text-lg
    }



    /* login Admin */
    .loginAdmin_container .loginAdmin_content {
        @apply pt-10
    }

}

@media screen and (max-width: 1280px) {
    .slider_movieList {
        @apply w-4/5
    }

    .login_container .form_content {
        @apply w-1/2
    }


    /* theater tabpanel */
    .theaterTab_container .tab_content .logoTab_company {
        @apply w-12 h-12
    }



    .theaterTab_container .tab_content {
        @apply w-5/6
    }

    .theaterTab_container .tab_content .theaterImg_company {
        @apply w-14 h-14
    }

    .theaterTab_container .tab_content .theaterTab_theaterName {
        @apply text-base
    }

    .theaterTab_container .tab_content .theaterTab_movieListItem .filmImg {
        @apply h-28 w-20
    }

    .theaterTab_container .tab_content .theaterTab_movieList {
        display: grid;
        grid-template-columns: 85px 600px;
        margin-bottom: 1.25rem;
    }

    .theaterTab_container .tab_content .theaterTab_movieListItem .theaterTab_movieListItem_name {
        @apply text-sm w-1/3
    }

    .theaterTab_container .tab_content .theaterTab_movieListItem .filmName {
        @apply text-xl w-5
    }



    .theaterTab_container .tab_content .theaterTab_movieListItem .choose_Time {
        @apply text-sm p-2 w-20
    }

    .theaterTab_container .test {
        width: 30% !important;
    }


    /* booking */
    .booking_container_flex {
        /* @apply flex-col */
    }

    .booking_container {
        @apply px-0 w-3/4
    }

    .booking_container .booking_content {
        @apply w-5/6 m-auto
    }

    .booking_container .booking_logo img {
        @apply w-10
    }

    .booking_container .booking_item_title {
        @apply p-0 pt-5 w-full
    }

    .booking_container .item_info .item_info_theater {
        @apply text-lg
    }

    .booking_container .item_info .item_info_filmShowtime {
        @apply text-sm
    }

    .booking_container .item_info .time_code {
        @apply text-xl
    }

    .booking_container .item_listChair {
        @apply gap-2.5 w-3/4
    }

    .booking_container .item_listChair .icon {
        @apply text-3xl
    }

    .booking_container .item_listChair .icon_disable {
        @apply text-3xl
    }

    .booking_container .chair_description {
        @apply w-5/6 justify-between
    }

    .booking_container .chair_info {
        @apply m-0 mt-4
    }

    .booking_container .icon_disable {
        @apply text-2xl
    }

    .booking_checkoutContainer {
        @apply w-2/5
    }


    .booking_checkoutContainer .contentcinema .pcinema_binding,
    .hour_binding {
        @apply text-sm
    }

    .booking_checkoutContainer .booking_itemTop_item3 input {
        @apply text-sm
    }

    .booking_checkoutContainer .booking_itemBottom .item_warning {
        @apply text-base
    }

    .booking_checkoutContainer .booking_itemBottom .btn_booking {
        @apply text-xl py-3
    }

}

@media screen and (max-width: 1024px) {
    .login_container .form_content {
        @apply w-1/2
    }

    /* booking */
    .booking_container_flex {
        /* @apply flex-col */
    }

    .booking_container {
        @apply px-0 w-3/4
    }

    .booking_container .booking_content {
        @apply w-5/6 m-auto
    }

    .booking_container .booking_logo img {
        @apply w-10
    }

    .booking_container .booking_item_title {
        @apply p-0 pt-5 w-full
    }

    .booking_container .item_info .item_info_theater {
        @apply text-lg
    }

    .booking_container .item_info .item_info_filmShowtime {
        @apply text-sm
    }

    .booking_container .item_info .time_code {
        @apply text-xl
    }

    .booking_container .item_listChair {
        @apply gap-2.5 w-3/4
    }

    .booking_container .item_listChair .icon {
        @apply text-2xl
    }

    .booking_container .chair_description {
        @apply w-5/6 justify-between
    }

    .booking_container .chair_info {
        @apply m-0 mt-4
    }

    .booking_container .icon_disable {
        @apply text-2xl
    }

    .booking_checkoutContainer {
        @apply w-2/5
    }


    .booking_checkoutContainer .contentcinema .pcinema_binding,
    .hour_binding {
        @apply text-sm
    }

    .booking_checkoutContainer .booking_itemTop_item3 input {
        @apply text-sm
    }

    .booking_checkoutContainer .booking_itemBottom .item_warning {
        @apply text-base
    }

    .booking_checkoutContainer .booking_itemBottom .btn_booking {
        @apply text-xl py-3
    }

    /* footer */
    .footer_container .footer_content {
        @apply p-0
    }

    .footer_container .footer_content .footerContent_left {
        @apply text-sm
    }

    .footer_container .footer_content .logo_company {
        @apply gap-0
    }

    .footer_container .footer_content .logo_company .logoCompany_item {
        @apply w-5
    }

    .footer_container .footer_content .logo_company img {
        @apply w-full
    }

    .footer_container .footer_content .footerContent_right .footer_appLogo {
        @apply justify-between
    }

    .footer_container .footer_content .footerContent_right .footer_appLogo img {
        @apply w-32
    }

}



@media screen and (max-width: 768px) {

    /* Header */
    .nav_container {
        @apply p-2
    }

    .nav_left {
        display: none;
    }

    .nav_left_responsive {
        display: block;
    }

    .button_showMenu {
        @apply text-2xl
    }

    .nav_Button {
        @apply text-sm px-3 py-1
    }

    .nav_container_responsive {
        position: absolute;
        @apply top-0 w-full h-screen;
        background-color: rgba(44, 44, 44, 0.274);

    }



    .nav_container_responsive nav {
        @apply w-1/2 bg-black h-full;
        z-index: 1000 !important;
    }

    .nav_container_responsive nav .title_sideBar img {
        width: 20%;
    }



    .nav_container_responsive nav .title_sideBar {
        @apply text-2xl flex flex-col py-3;
        align-items: center;

    }

    .nav_container_responsive nav ul li {
        @apply py-5 border-b-2 duration-300
    }

    .nav_container_responsive nav ul li:hover {
        @apply bg-gray-600
    }


    /* carousel */
    .carousel_arrowPrev {
        position: absolute;
        z-index: 1;
        top: 30%;
        left: 8%;
        cursor: pointer;
        color: rgba(128, 128, 128, 0.452);
        @apply text-3xl duration-300
    }


    .carousel_arrowNext {
        position: absolute;
        z-index: 1;
        top: 30%;
        right: 8%;
        cursor: pointer;
        color: rgba(128, 128, 128, 0.452);
        @apply text-3xl duration-300
    }

    .slick-dots {
        bottom: 10px !important;
    }

    /* slider movie */
    .slider_movieList {
        @apply w-3/4
    }

    .slider_movieList .title_sliderItem {
        @apply text-base
    }




    .slider_movieList .arrowPrev_forSlider,
    .arrowNext_forSlider {
        display: none;
    }

    /* footer */
    footer .footer_container {
        @apply grid grid-cols-1
    }

    footer .footer_logo {
        display: none
    }

    .footer_container .footer_content .footerContent_center {
        @apply flex flex-col justify-center
    }

    .footer_container .footer_content {
        @apply p-2 text-gray-300 text-xs
    }

    .footer_container .footer_content .footerContent_center .logo_company {
        @apply w-4/5;
    }

    .footer_container .footer_content .footer_appLogo {
        justify-content: center !important;
    }


    /* form login */
    .login_container .form_content {
        @apply w-1/2
    }

    /* booking */
    .booking_container {
        @apply w-2/3 px-2 mx-4
    }

    .booking_container .booking_content {
        @apply w-full
    }

    .booking_container .item_info p {
        @apply text-xs
    }

    .booking_container .booking_content .item_info_theater {
        @apply text-sm
    }

    .booking_container .booking_content .item_info_filmShowtime p {
        @apply text-xs
    }

    .booking_container .booking_content .item_info_filmShowtime span {
        @apply text-xs
    }

    .booking_container .booking_logo img {
        @apply w-10
    }

    .booking_container .time_code {
        @apply text-xl
    }

    .booking_container .item_listChair {
        @apply w-3/4
    }



    .booking_container .item_listChair .icon {
        @apply text-xl
    }

    .booking_container .chair_description {
        @apply w-full
    }

    .booking_container .chair_info {
        @apply w-full
    }

    .booking_container .icon_disable {
        @apply text-xl
    }

    .booking_checkoutContainer .booking_checkoutContent .booking_itemTop .pcinema_binding {
        @apply text-xs
    }

    .booking_checkoutContainer .booking_checkoutContent .booking_itemTop .hour_binding {
        @apply text-xs
    }

    .booking_checkoutContainer .booking_itemBottom .item_warning {
        @apply text-xs
    }

}

@media screen and (max-width: 640px) {

    /* Header */
    .nav_container {
        @apply p-2
    }

    .nav_left {
        display: none;
    }

    .nav_left_responsive {
        display: block;
    }

    .button_showMenu {
        @apply text-2xl
    }

    .nav_Button {
        @apply text-sm px-3 py-1
    }

    .nav_container_responsive {
        position: absolute;
        @apply top-0 w-full h-screen;
        background-color: rgba(44, 44, 44, 0.274);

    }



    .nav_container_responsive nav {
        @apply w-1/2 bg-black h-full;
        z-index: 1000 !important;
    }

    .nav_container_responsive nav .title_sideBar img {
        width: 20%;
    }



    .nav_container_responsive nav .title_sideBar {
        @apply text-2xl flex flex-col py-3;
        align-items: center;

    }

    .nav_container_responsive nav ul li {
        @apply py-5 border-b-2 duration-300
    }

    .nav_container_responsive nav ul li:hover {
        @apply bg-gray-600
    }


    /* carousel */
    .carousel_arrowPrev {
        position: absolute;
        z-index: 1;
        top: 30%;
        left: 8%;
        cursor: pointer;
        color: rgba(128, 128, 128, 0.452);
        @apply text-3xl duration-300
    }


    .carousel_arrowNext {
        position: absolute;
        z-index: 1;
        top: 30%;
        right: 8%;
        cursor: pointer;
        color: rgba(128, 128, 128, 0.452);
        @apply text-3xl duration-300
    }

    .slick-dots {
        bottom: 10px !important;
    }

    /* slider movie */
    .slider_movieList {
        @apply w-4/5
    }

    .slider_movieList .title_sliderItem {
        @apply text-base
    }




    .slider_movieList .arrowPrev_forSlider,
    .arrowNext_forSlider {
        display: none;
    }

    /* footer */
    footer .footer_container {
        @apply grid grid-cols-1
    }

    footer .footer_logo {
        display: none
    }

    .footer_container .footer_content .footerContent_center {
        @apply flex flex-col justify-center
    }

    .footer_container .footer_content {
        @apply p-2 text-gray-300 text-xs
    }

    .footer_container .footer_content .footerContent_center .logo_company {
        @apply w-4/5;
    }



    /* form login */
    .login_container .form_content {
        @apply w-3/4
    }



    /* booking */
    .booking_container_flex {
        @apply flex-col
    }

    .booking_container {
        @apply px-0 w-full m-auto
    }

    .booking_container .booking_content {
        @apply w-5/6 m-auto
    }

    .booking_container .booking_logo img {
        @apply w-10
    }

    .booking_container .booking_item_title {
        @apply p-0 pt-5 w-full
    }

    .booking_container .item_info .item_info_theater {
        @apply text-lg
    }

    .booking_container .item_info .item_info_filmShowtime {
        @apply text-sm
    }

    .booking_container .item_info .time_code {
        @apply text-xl
    }

    .booking_container .item_listChair {
        @apply gap-2.5 w-3/4
    }

    .booking_container .item_listChair .icon {
        @apply text-3xl
    }

    .booking_container .item_listChair .icon_disable {
        @apply text-3xl
    }

    .booking_container .chair_description {
        @apply w-5/6 justify-between
    }

    .booking_container .chair_info {
        @apply m-0 mt-4
    }

    .booking_container .icon_disable {
        @apply text-2xl
    }

    .booking_checkoutContainer {
        @apply w-full
    }


    .booking_checkoutContainer .contentcinema .pcinema_binding,
    .hour_binding {
        @apply text-sm
    }

    .booking_checkoutContainer .booking_itemTop_item3 input {
        @apply text-sm
    }

    .booking_checkoutContainer .booking_itemBottom .item_warning {
        @apply text-base
    }

    .booking_checkoutContainer .booking_itemBottom .btn_booking {
        @apply text-xl py-3
    }




}



@media screen and (max-width: 415px) {



    /* booking */
    .booking_container_flex {
        @apply flex-col
    }

    .booking_container {
        @apply px-0 w-full m-auto
    }

    .booking_container .booking_content {
        @apply m-auto;
        width: 90%;
    }

    .booking_container .booking_logo img {
        @apply w-10
    }

    .booking_container .booking_item_title {
        @apply p-0 pt-5 w-full
    }

    .booking_container .item_info .item_info_theater {
        @apply text-xs
    }

    .booking_container .item_info .item_info_filmShowtime {
        @apply text-xs
    }

    .booking_container .item_info .time_down {
        @apply text-xs
    }

    .booking_container .item_info .time_code {
        @apply text-xs
    }

    .booking_container .item_listChair {
        @apply gap-2.5 w-3/4
    }

    .booking_container .item_listChair .icon {
        @apply text-lg
    }

    .booking_container .item_listChair .icon_disable {
        @apply text-lg
    }

    .booking_container .chair_description {
        @apply w-5/6 justify-between
    }

    .booking_container .chair_info {
        @apply m-0 mt-4
    }

    .booking_container .icon_disable {
        @apply text-2xl
    }

    .booking_checkoutContainer {
        @apply w-full
    }


    .booking_checkoutContainer .contentcinema .pcinema_binding,
    .hour_binding {
        @apply text-sm
    }

    .booking_checkoutContainer .booking_itemTop_item3 input {
        @apply text-sm
    }

    .booking_checkoutContainer .booking_itemBottom .item_warning {
        @apply text-base
    }

    .booking_checkoutContainer .booking_itemBottom .btn_booking {
        @apply text-xl py-3
    }




}


@media screen and (max-width: 300px) {

    /* Header */
    .nav_container {
        @apply p-2
    }

    .nav_left {
        display: none;
    }

    .nav_left_responsive {
        display: block;
    }

    .button_showMenu {
        @apply text-2xl
    }

    .nav_Button {
        @apply text-sm px-3 py-1
    }

    .nav_container_responsive {
        position: absolute;
        @apply top-0 w-full h-screen;
        background-color: rgba(44, 44, 44, 0.274);

    }



    .nav_container_responsive nav {
        @apply w-1/2 bg-black h-full;
        z-index: 1000 !important;
    }

    .nav_container_responsive nav .title_sideBar img {
        width: 20%;
    }



    .nav_container_responsive nav .title_sideBar {
        @apply text-2xl flex flex-col py-3;
        align-items: center;

    }

    .nav_container_responsive nav ul li {
        @apply py-5 border-b-2 duration-300
    }

    .nav_container_responsive nav ul li:hover {
        @apply bg-gray-600
    }


    /* carousel */
    .carousel_arrowPrev {
        position: absolute;
        z-index: 1;
        top: 30%;
        left: 8%;
        cursor: pointer;
        color: rgba(128, 128, 128, 0.452);
        @apply text-3xl duration-300
    }


    .carousel_arrowNext {
        position: absolute;
        z-index: 1;
        top: 30%;
        right: 8%;
        cursor: pointer;
        color: rgba(128, 128, 128, 0.452);
        @apply text-3xl duration-300
    }

    .slick-dots {
        bottom: 10px !important;
    }

    /* slider movie */
    .slider_movieList {
        @apply w-4/5
    }

    .slider_movieList .card_slider>img {
        height: 305px !important;
    }

    .slider_movieList .title_sliderItem {
        @apply text-base
    }




    .slider_movieList .arrowPrev_forSlider,
    .arrowNext_forSlider {
        display: none;
    }

    /* footer */
    footer .footer_container {
        @apply grid grid-cols-1
    }

    footer .footer_logo {
        display: none
    }

    .footer_container .footer_content .footerContent_center {
        @apply flex flex-col justify-center
    }

    .footer_container .footer_content {
        @apply p-2 text-gray-300 text-xs
    }

    .footer_container .footer_content .footerContent_center .logo_company {
        @apply w-4/5;
    }



    /* form login */
    .login_container .form_content {
        @apply w-full
    }
}