@media screen and (max-width: 768px) {

    /* Header */
    .nav_container {
        @apply p-2
    }

    .nav_left {
        display: none;
    }

    .nav_left_responsive {
        display: block;
    }

    .button_showMenu {
        @apply text-2xl
    }

    .nav_Button {
        @apply text-sm px-3 py-1
    }

    .nav_container_responsive {
        position: absolute;
        @apply top-0 w-full h-screen;
        background-color: rgba(44, 44, 44, 0.274);
    }


    .nav_container_responsive nav {
        @apply w-1/2 bg-black h-full
    }

    .nav_container_responsive nav .title_sideBar img {
        width: 20%;
    }



    .nav_container_responsive nav .title_sideBar {
        @apply text-2xl flex flex-col py-3;
        align-items: center;

    }

    .nav_container_responsive nav ul li {
        @apply py-5 border-b-2 duration-300
    }

    .nav_container_responsive nav ul li:hover {
        @apply bg-gray-600
    }


    /* carousel */
    .carousel_arrowPrev {
        position: absolute;
        z-index: 1000;
        top: 30%;
        left: 8%;
        cursor: pointer;
        color: rgba(128, 128, 128, 0.452);
        @apply text-3xl duration-300
    }


    .carousel_arrowNext {
        position: absolute;
        z-index: 1000;
        top: 30%;
        right: 8%;
        cursor: pointer;
        color: rgba(128, 128, 128, 0.452);
        @apply text-3xl duration-300
    }

    .slick-dots {
        bottom: 10px !important;
    }

}


@media screen and (max-width: 1024px) {}

@media screen and (max-width: 1280px) {}