/* font */
* {
    @apply font-sans
}

img {
    width: 100%
}

/* Header */
.header {
    @apply w-full py-5;
    color: rgba(255, 255, 255, 0.61);
    background: transparent;
    position: absolute;
    z-index: 100;
}

.header_scroll {
    @apply w-full py-2 bg-black;
    color: rgba(255, 255, 255, 0.61);
    position: fixed;
    z-index: 1000;
    animation: nav_roll 0.3s
}


@keyframes nav_roll {
    0% {
        transform: translateY(-110%)
    }
}

.nav_container {
    @apply flex justify-between w-10/12 m-auto py-2;
    align-items: center
}

.nav_left_responsive {
    display: none
}

.nav_left {
    @apply flex;
    align-items: center
}

.nav_left img {
    width: 70%;

}

.nav_left nav ul {
    @apply flex justify-around
}

nav ul li {
    @apply px-5
}


nav li {
    @apply text-xl
}

nav .nav_item {
    @apply duration-500 text-white
}

nav .nav_item:hover {
    @apply text-blue-700
}

.active {
    @apply text-blue-600 !important;
}

.nav_Button {
    @apply bg-blue-600 text-white px-6 py-2.5 text-xl rounded-full duration-300 border-blue-600 border-2
}

.nav_Button:hover {
    @apply bg-transparent border-white;

}

.animation_sidebar {
    animation: sidebar_animate 0.8s
}

@keyframes sidebar_animate {
    0% {
        transform: translateX(-50%);
    }
}




/*  carousel */
.carousel_arrowPrev {
    position: absolute;
    z-index: 100;
    top: 30%;
    left: 8%;
    cursor: pointer;
    color: rgba(128, 128, 128, 0.452);
    @apply text-7xl duration-300
}

.carousel_arrowPrev:hover {
    @apply text-gray-300
}

.carousel_arrowNext {
    position: absolute;
    z-index: 100;
    top: 30%;
    right: 8%;
    cursor: pointer;
    color: rgba(128, 128, 128, 0.452);
    @apply text-7xl duration-300
}

.carousel_arrowNext:hover {
    @apply text-gray-300
}

.slick-dots {
    bottom: 25px !important;
}