/* font */
* {
    @apply font-sans
}

img {
    width: 100%
}

/* Header */
.header {
    @apply w-full py-5;
    color: rgba(255, 255, 255, 0.61);
    background: transparent;
    position: absolute;
    z-index: 100;
}

.header_scroll {
    @apply w-full py-2 bg-black;
    color: rgba(255, 255, 255, 0.61);
    position: fixed;
    z-index: 1000;
    animation: nav_roll 0.3s
}


@keyframes nav_roll {
    0% {
        transform: translateY(-110%)
    }
}

.nav_container {
    @apply flex justify-between w-10/12 m-auto py-2;
    align-items: center
}

.nav_left_responsive {
    display: none
}

.nav_left {
    @apply flex;
    align-items: center
}

.nav_left img {
    width: 70%;

}

.nav_left nav ul {
    @apply flex justify-around
}

nav ul li {
    @apply px-5
}


nav li {
    @apply text-xl
}

nav .nav_item {
    @apply duration-500 text-white
}

nav .nav_item:hover {
    @apply text-blue-700
}

.active {
    @apply text-blue-600 !important;
}

.nav_Button {
    @apply bg-blue-600 text-white px-6 py-2.5 text-xl rounded-full duration-300 border-blue-600 border-2
}

.nav_Button:hover {
    @apply bg-transparent border-white;

}

.animation_sidebar {
    animation: sidebar_animate 0.8s
}

@keyframes sidebar_animate {
    0% {
        transform: translateX(-50%);
    }
}




/*  carousel */
.carousel_arrowPrev {
    position: absolute;
    z-index: 100;
    top: 30%;
    left: 8%;
    cursor: pointer;
    color: rgba(128, 128, 128, 0.452);
    @apply text-7xl duration-300
}

.carousel_arrowPrev:hover {
    @apply text-gray-300
}

.carousel_arrowNext {
    position: absolute;
    z-index: 100;
    top: 30%;
    right: 8%;
    cursor: pointer;
    color: rgba(128, 128, 128, 0.452);
    @apply text-7xl duration-300
}

.carousel_arrowNext:hover {
    @apply text-gray-300
}

.slick-dots {
    bottom: 25px !important;
}

/* slider movie */
.slider_movieList {
    @apply w-1/2 m-auto mt-5
}

.arrowNext_forSlider {
    right: -10%
}

.arrowPrev_forSlider {
    left: -10%;
}


.card_container {
    margin: 5px;
}

.card_slider {
    position: relative;
    overflow: hidden
}

.card_slider .contentCard_hover {
    @apply absolute z-40 h-full w-full top-0;
    /* background-color: #4d5efb3f;
    background-image: linear-gradient(315deg, #4d5efb6e 0%, #08c6f67e 74%); */
    background-color: rgba(0, 0, 0, 0.788);
    /* opacity: 0; */
    opacity: 0;
    transition: all 0.3s;


}

.card_slider .contentCard_hover .item_hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card_slider .contentCard_hover .item_hover_info {
    width: 80%;
    top: 100%
}

.card_slider .contentCard_hover .item_hover_FilmName {
    width: 80%;
    top: 80%
}

.card_slider:hover .contentCard_hover {
    opacity: 1;
}

.ant-card-body {
    padding: 0 !important;
}

.slider_content {
    @apply mt-3
}

.title_SliderMovie {
    @apply flex justify-center
}

.title_SliderMovie .title_sliderItem {
    @apply text-2xl text-white p-2 duration-500 cursor-pointer
}

.title_SliderMovie .title_sliderItem:hover {
    @apply text-blue-600
}

.title_SliderMovie .text_active {
    @apply text-blue-600
}


/* theater tab */
.ant-tabs-nav-operations {
    display: none !important;
}



.tabChild {
    padding: 0 !important;
}

.theaterTab_container {
    @apply bg-gray-100 grid grid-cols-1 justify-center py-20
}

.theaterTab_container .tab_content {
    @apply w-2/3 m-auto border-2 border-black
}


.theaterTab_container .theaterTab_theaterList {
    display: grid;
    grid-template-columns: 65px 458px;

    align-items: center;
}

.theaterTab_container .theaterTab_theaterList .theaterTab_theaterListItem ul {
    @apply text-left ml-4
}


.theaterTab_container .theaterTab_movieList {
    display: grid;
    grid-template-columns: 140px 600px;
    @apply mb-5
}

.theaterTab_container .theaterTab_movieList .timeToStart {
    @apply grid grid-cols-4 gap-2;


    grid-template-columns: repeat(4, minmax(0, 96px))
}

.theaterTab_container .theaterTab_movieList .timeToStart a {
    @apply text-lg
}

.theaterTab_container .choose_Time {
    @apply bg-gray-600 text-white rounded-md w-24 text-center py-2;
    transition: all 0.3s;
}

.theaterTab_container .choose_Time:hover {
    @apply bg-blue-600 text-white p-2 border-white
}


/* footer */
footer {
    @apply bg-gray-900 py-5 pb-0
}

.footer_container {
    @apply grid grid-cols-3 gap-4 w-5/6 m-auto
}

.footer_container .footer_content {
    @apply p-6 text-gray-300 text-lg
}


.footer_container .content_title {
    @apply text-xl text-gray-200 text-center
}

.footer_container .footer_content .footerContent_center .logo_company {
    display: grid;
    grid-template-columns: 60px 60px 60px;
    @apply gap-4 my-4 m-auto w-5/6 justify-center;
}

.footer_container .footer_content .footerContent_center .logo_company .logoCompany_item {
    @apply w-12
}

.footer_container .footer_content .footerContent_right .footer_appLogo {
    @apply flex my-4 justify-center
}


/* Banner Detail */
.banner_detailContainer {
    background-size: cover;
    @apply h-screen
}

.bannerOverlay {
    @apply w-full h-screen;
    background-color: #000000e0;
    ;
}

.bannerOverlay .movie_img {
    @apply h-screen
}

.bannerOverlay .movie-card {
    position: absolute;
    width: 15%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* movie card */

.movie-card {
    background: #ffffff;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 315px;
    border-radius: 10px;
}

.btnPlay {
    position: absolute;
    width: 35%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    animation: butonPlay 0.25s ease-in-out;
}

@keyframes butonPlay {
    0% {
        width: 1%;
    }

    100% {
        width: 35%;
    }

}

.header-icon:hover .btnPlay {
    display: block;
}


.movie-content {
    padding: 18px 18px 24px 18px;
    margin: 0;
}

.movie-content-header,
.movie-info {
    display: table;
    width: 100%;
}

.movie-title {
    font-size: 24px;
    margin: 0;
    display: table-cell;
}

.imax-logo {
    width: 50px;
    height: 15px;
    background: url("https://6a25bbd04bd33b8a843e-9626a8b6c7858057941524bfdad5f5b0.ssl.cf5.rackcdn.com/media_kit/3e27ede823afbf139c57f1c78a03c870.jpg") no-repeat;
    background-size: contain;
    display: table-cell;
    float: right;
    position: relative;
    margin-top: 5px;
}

.movie-info {
    margin-top: 1em;
}

.info-section {
    display: table-cell;
    text-transform: uppercase;
    text-align: center;
}

.info-section:first-of-type {
    text-align: left;
}

.info-section label {
    display: block;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: .5em;
    font-size: 9px;
}

.info-section span {
    font-weight: 700;
    font-size: 11px;
}


/* login */
.login_container {
    @apply bg-green-700 h-screen relative
}

.login_container form {
    @apply absolute left-1/2 top-1/2 bg-white p-52;
    transform: translate(-50%, -50%);

}

.login_container .form_item {
    position: relative;
}

.login_container .form_item label {
    @apply absolute text-lg;

    transition: all 1s;
}

.login_container .form_item input {
    @apply py-5 px-10 block border-2 border-blue-600 rounded-full my-6 text-xl outline-none
}